<% provide(:title, 'Home') %>
<h1>spaccccccce</h1>
<p><%= link_to image_tag("Space.jpg", alt: "Space", :width => 500, :height => 500, style: "horizontal-align:middle"), 'http://www.thatsreallypossible.com/wp-content/uploads/2012/02/Space.jpg' %></p>
